<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD//EN"
      "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
      <mapping resource="no/imr/lsss/database/tables/hibernate/DBParameter.hbm.xml"/>

      <mapping resource="no/imr/lsss/database/tables/hibernate/Nation.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/PlatformType.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/Platform.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/PlatformName.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/PlatformCodes.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/Survey.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/SurveyInfo.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/Personnel.hbm.xml"/>

      <mapping resource="no/imr/lsss/database/tables/hibernate/BiologicalSpecies.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/AcousticCategory.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/Purpose.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/Area.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/AreaOfAcousticCategory.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/AcousticCategoryComposite.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/AcCatToBiologicalSpecies.hbm.xml"/>

      <mapping resource="no/imr/lsss/database/tables/hibernate/StandardComment.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/ObservationComment.hbm.xml"/>

      <mapping resource="no/imr/lsss/database/tables/hibernate/ObservationType.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/Observation.hbm.xml"/>

      <mapping resource="no/imr/lsss/database/tables/hibernate/SchoolCategorySystem.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/SchoolCategory.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/ScatterObject.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/SchoolDetect.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/SchoolObjectType.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/SchoolMorphology.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/SchoolData.hbm.xml"/>

      <mapping resource="no/imr/lsss/database/tables/hibernate/ScatterType.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/Scatter.hbm.xml"/>
      <mapping resource="no/imr/lsss/database/tables/hibernate/ScatterData.hbm.xml"/>
   </session-factory>
</hibernate-configuration>
