/* You can add global styles to this file, and also import other style files */
@import "styles-help-page.css";

.mat-mdc-icon-button {
   height: 40px !important;
   width: 40px !important;
}

.mat-mdc-menu-item {
   height: 30px !important;
   min-height: 30px !important;
}

.mat-mdc-menu-panel {
   background: white !important;
}

.marec-menu-item-content {
   display: block;
   font-size: 14px;
}

.marec-menu-item-icon {
   margin-bottom: -3px;
   margin-right: 5px;
}

.marec-invisible {
   display: none;
}

.marec-all-top {
   position: fixed;
   top: 0;
   height: 50px;
   left: 0;
   right: 0;
   background: #99e2ff;
   box-shadow: 0 1px 2px #cccccc;
   z-index: 10;
}

.marec-banner-title {
   width: 100%;
   text-align: center;
   margin-top: 8px;
   font-size: xx-large;
   font-weight: bold;
   white-space: nowrap;
}

@media screen {
   .marec-help-container {
      padding: 0 20px 40px;
   }

   .marec-all-bottom {
      position: absolute;
      top: 50px;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto;
   }
}

@media print {
   a:link, a:visited {
      color: black;
   }

   pre {
      overflow-x: hidden;
      text-overflow: ellipsis;
   }

   .marec-all-top {
      display: none;
   }

   @page {
      margin: 2cm;
   }
}
